<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2004},{33,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,73}}</string>
                <key>sourceSize</key>
                <string>{33,73}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1900},{17,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,73}}</string>
                <key>sourceSize</key>
                <string>{17,73}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{135,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,73}}</string>
                <key>sourceSize</key>
                <string>{135,73}</string>
            </dict>
            <key>fangjianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1992},{159,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>input.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{566,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,60}}</string>
                <key>sourceSize</key>
                <string>{566,60}</string>
            </dict>
            <key>inputs.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1338},{500,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,60}}</string>
                <key>sourceSize</key>
                <string>{500,60}</string>
            </dict>
            <key>laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1975},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>naozhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2004},{87,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,34}}</string>
                <key>sourceSize</key>
                <string>{87,34}</string>
            </dict>
            <key>new_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1900},{102,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,48}}</string>
                <key>sourceSize</key>
                <string>{102,48}</string>
            </dict>
            <key>new_suoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1900},{102,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,48}}</string>
                <key>sourceSize</key>
                <string>{102,48}</string>
            </dict>
            <key>new_tianhei.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>new_tianliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,1334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,1334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>new_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1900},{102,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,48}}</string>
                <key>sourceSize</key>
                <string>{102,48}</string>
            </dict>
            <key>yuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1776},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>yuan15.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1960},{408,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,30}}</string>
                <key>sourceSize</key>
                <string>{408,30}</string>
            </dict>
            <key>yuan17.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1997},{159,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>yuan24.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1840},{209,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,58}}</string>
                <key>sourceSize</key>
                <string>{209,58}</string>
            </dict>
            <key>yuan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1338},{436,762}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,762}}</string>
                <key>sourceSize</key>
                <string>{436,762}</string>
            </dict>
            <key>yuan40.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1900},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bac2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eaadced061833ed81e4d7d2bf2db3e6:1/1$</string>
            <key>textureFileName</key>
            <string>bac2.png</string>
        </dict>
    </dict>
</plist>
