<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,644},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,620},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,620},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,605},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,590},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>48.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,100},{135,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,107}}</string>
                <key>sourceSize</key>
                <string>{135,107}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,575},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,575},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>63.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,318},{90,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{90,71}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,545},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,545},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>baichi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,515},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{97,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,137}}</string>
                <key>sourceSize</key>
                <string>{97,137}</string>
            </dict>
            <key>campain6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,663},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>cunmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,564},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,382},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>duyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,514},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>fangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,316},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>gif1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,739},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif10.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,712},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif2.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,712},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif4.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,709},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif5.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,682},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif8.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,444},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif9.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,414},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>goodman.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,545},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>guard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,518},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>guard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,487},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>guess.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,605},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jieyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,483},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>lang.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,632},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,229},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>lieren1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,504},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>liesha.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,484},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>min.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,401},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>num1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{21,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,56}}</string>
                <key>sourceSize</key>
                <string>{21,56}</string>
            </dict>
            <key>num10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,494},{65,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,56}}</string>
                <key>sourceSize</key>
                <string>{65,56}</string>
            </dict>
            <key>num11.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,534},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>num12.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,561},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
            <key>num2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,586},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>num3.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,586},{33,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,56}}</string>
                <key>sourceSize</key>
                <string>{33,56}</string>
            </dict>
            <key>num4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,293},{38,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,56}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>num5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>num6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,594},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>num7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,627},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,56}}</string>
                <key>sourceSize</key>
                <string>{34,56}</string>
            </dict>
            <key>num8.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,575},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>num9.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,548},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>nvwu_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,474},{65,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,28}}</string>
                <key>sourceSize</key>
                <string>{65,28}</string>
            </dict>
            <key>shesha.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,451},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>toupiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,456},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>werewolf_kill_game_circle@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>werewolf_kill_game_raise@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,639},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>werewolf_kill_game_water@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,622},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>wolf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,534},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>wolf_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,96}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,96}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wolf_boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,272},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>wolf_kill_game_head@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,146},{100,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{100,76}</string>
            </dict>
            <key>yanren.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,453},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>yijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,422},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,209},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>yuan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,605},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yuan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yuan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,769},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yuan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{140,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,28}}</string>
                <key>sourceSize</key>
                <string>{140,28}</string>
            </dict>
            <key>yuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,146},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>yuan28.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,306},{90,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{90,71}</string>
            </dict>
            <key>yuan34.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,74},{227,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,70}}</string>
                <key>sourceSize</key>
                <string>{227,70}</string>
            </dict>
            <key>yuan35.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{227,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,70}}</string>
                <key>sourceSize</key>
                <string>{227,70}</string>
            </dict>
            <key>yuan36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>yuan37.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,237},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>yuan38.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,342},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>yuan39.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,301},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>yuan44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>yuan50.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,460},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>yuan56.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,669},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>yuan58.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,742},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yuan59.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,391},{83,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,67}}</string>
                <key>sourceSize</key>
                <string>{83,67}</string>
            </dict>
            <key>yuan6.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,714},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yuan66.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,409},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>yuan67.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,382},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>yuan68.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,682},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>yuan69.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,351},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>yuan7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,686},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yuan71.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,229},{75,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{75,92}</string>
            </dict>
            <key>yuan72.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,224},{75,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{75,92}</string>
            </dict>
            <key>yuan74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{90,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,71}}</string>
                <key>sourceSize</key>
                <string>{90,71}</string>
            </dict>
            <key>yuan75.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,146},{100,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,81}}</string>
                <key>sourceSize</key>
                <string>{100,81}</string>
            </dict>
            <key>yuan8.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,669},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yuyan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,379},{84,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,613},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>site1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f40202146ea5e159ec4cec027ab0a42d:1/1$</string>
            <key>textureFileName</key>
            <string>site1.png</string>
        </dict>
    </dict>
</plist>
