<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,718},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,110},{80,96}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{80,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,718},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,458},{84,96}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{84,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,414},{90,96}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{90,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,695},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,318},{94,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,695},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,180},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{100,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,878},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>65.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,760},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,414},{90,96}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{90,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,864},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>77.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,458},{84,96}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{84,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,834},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>88.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,318},{94,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,834},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>99.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,180},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{100,96}}</string>
                <key>sourceSize</key>
                <string>{106,98}</string>
            </dict>
            <key>baohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,128},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>boom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{97,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,137}}</string>
                <key>sourceSize</key>
                <string>{97,137}</string>
            </dict>
            <key>campain6.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,761},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>daojishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,248},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>daojishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,122},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>dayswss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{223,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,34}}</string>
                <key>sourceSize</key>
                <string>{223,34}</string>
            </dict>
            <key>death1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,383},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>duyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,664},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>fangjianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,74},{159,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>fangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,74},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>gif1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,837},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif10.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,807},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,807},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif3.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,801},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif4.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,757},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,739},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,725},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,695},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,681},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gif9.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,438},{28,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{28,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>guard3.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,625},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>guesss.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,122},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>jieyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,599},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>kong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,438},{108,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,82}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>kong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{108,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,82}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>kong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,374},{108,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,82}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>kongwei2@2x_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>kongzuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,319},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>lang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,319},{62,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,38}}</string>
                <key>sourceSize</key>
                <string>{62,38}</string>
            </dict>
            <key>liesha.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,655},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>min.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,269},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>new-wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,831},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>new-wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,807},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>new-wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,692},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>new_baichi.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,655},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>new_cunmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,627},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>new_haoren.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,653},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>new_langren.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,625},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>new_lieren.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,599},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>new_nvwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>new_oder1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,762},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>new_oder2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,755},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>new_oder3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,753},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>new_oder4.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,753},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>new_oder5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,728},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>new_oder6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,728},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>new_oder7.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,725},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>new_oder8.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,725},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>new_shouwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,598},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>new_yuyanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,522},{74,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,26}}</string>
                <key>sourceSize</key>
                <string>{74,26}</string>
            </dict>
            <key>shesha.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,718},{41,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,59}}</string>
                <key>sourceSize</key>
                <string>{41,59}</string>
            </dict>
            <key>siyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,278},{100,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,39}}</string>
                <key>sourceSize</key>
                <string>{100,39}</string>
            </dict>
            <key>toupiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,624},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>ud.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,150},{27,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>werewolf_kill_game_raise@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,757},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>werewolf_kill_game_water@3x.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,681},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>wifi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,668},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>wolf_boom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,674},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>yanren.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,593},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>yijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,562},{68,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,29}}</string>
                <key>sourceSize</key>
                <string>{68,29}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,65},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>yuan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{140,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,28}}</string>
                <key>sourceSize</key>
                <string>{140,28}</string>
            </dict>
            <key>yuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>yuan34.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{227,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,70}}</string>
                <key>sourceSize</key>
                <string>{227,70}</string>
            </dict>
            <key>yuan35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,70}}</string>
                <key>sourceSize</key>
                <string>{227,70}</string>
            </dict>
            <key>yuan36.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,482},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>yuan37.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,583},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>yuan38.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,100},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>yuan39.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,544},{91,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,79}}</string>
                <key>sourceSize</key>
                <string>{91,79}</string>
            </dict>
            <key>yuan56.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,664},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>yuan58.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,725},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>yuan66.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,686},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>yuan67.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,683},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>yuan68.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,427},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>yuan69.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,219},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>yuan70.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,522},{75,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{75,92}</string>
            </dict>
            <key>yuan71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{75,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{75,92}</string>
            </dict>
            <key>yuan72.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,506},{75,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,92}}</string>
                <key>sourceSize</key>
                <string>{75,92}</string>
            </dict>
            <key>zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,208},{108,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,82}}</string>
                <key>sourceSize</key>
                <string>{108,82}</string>
            </dict>
            <key>zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,193},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>zuowei2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>site4.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:163265378f44c4fe4ad0b34013dab6ea:1/1$</string>
            <key>textureFileName</key>
            <string>site4.png</string>
        </dict>
    </dict>
</plist>
